.emails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10%;
  height: 100vh;

  &-container {
    padding: 12px;
    width: 100%;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
  }

  &-existing-list {
    width: 100%;
    margin-bottom: 24px;
  }

  &-entering {
    display: grid;
    gap: 12px;
    width: 100%;

    &__actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  .btn {
    width: 105px;
    font-size: 12px;
    background: #5061D0;
    border-radius: 8px;
  }
}
